@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
p,
h1,
h2,
h3,
h4,
Link,
a {
  font-family: "Roboto", sans-serif !important;
}

.blog-sidebar .category-widget ul a {
  display: block;
  color: #474f62;
  position: relative;
  padding-left: 30px;
  font-size: 20px !important;
}


.highlightedTag li a {
  display: inline;
  color: #474f62;
  position: relative;
  padding-left: 30px;
  font-size: 13px !important;
}
 @media (max-width: 1200px) and (min-width: 990px) {  
  .blog-sidebar .widget {
    margin-bottom: 30px;
    padding: 10px !important;
    border: 1px solid #eef0fc;
}
  
 }