
tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: 1px !important;
}
.wpo-blog-single-section .more-posts {
  overflow: hidden;
  border: 1px solid #eef0fc;
  padding: 0 25px;
  margin-top: 5vh;
}
.wpo-blog-single-section .entry-meta ul li {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.9333333333rem;
  float: left;
  text-transform: none !important;

}


@media screen and (min-width: 432px) and (max-width: 530px) {
  .wpo-blog-pg-section .entry-meta ul li:last-child {
      margin-left: 0px;
      padding-left: 0px;
      position: relative;
  }

  .wpo-blog-single-section .entry-meta ul li:last-child {
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
}
}
